@import "tailwindcss";

.phone-input-container input {
    border: none !important;
    padding-left: 0.5rem !important;
}
.phone-input-container input:focus {
    outline: none !important;
    box-shadow: none !important;
}
